version: "3.8"

services:
    backend:
        build:
            context: "backend"
            dockerfile: Dockerfile
        expose:
            - 5000
        ports:
            - "5000:5000"
        depends_on:
            - mongodb
        deploy:
            replicas: 1 ## change if we need more

    mongodb:
        container_name: mongodb
        image: mongo:latest
        hostname: mongodb
        ports:
            - "27017:27017"
        volumes:
           - /usr/local/var/mongodb:/data

    frontend:
        build:
            context: "frontend"
            dockerfile: Dockerfile
        ports:
            - "8080:8080"
        expose:
            - 8080
        depends_on:
            - backend